#image {
    width: 0;
    height: 0;
    visibility: hidden;
}
.image__label {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url('src/assets/png/photo.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
.image__icon {
    width: 100px;
}