.login {
    width: 100%;
    height: 100vh;
}

form {
    width: 100%;
}
.form__container {
    width: 100%;
}
.login__label {
    width: 30%;
}
.login__input {
    width: 70%;
    height: 34px;
}
a {
    transition: 0.3s;
}
.single {
    color: #0dcaf0;
}