<div class="d-flex flex-column justify-content-center align-items-center register">
    <div *ngIf="currentStep === 1" class="col-lg-4 col-md-6 register__container d-flex flex-column align-items-center bg-light rounded p-xl-5 p-md-4 p-sm-3 p-3">

        <h1>Regis<span class="single">t</span>er</h1>

        <form [formGroup]="registerForm1" class="d-flex flex-column align-items-center" (ngSubmit) = "nextStep(registerForm1);">
            
            <div class="d-flex justify-content-between form__container mt-2">
                <label for="name" class="register__label d-flex align-items-center">Name</label>
                <input type="text" autocomplete="off" class="register__input form-control" id="name" [ngClass]="{ 'input__error': name && name.invalid && name.touched }" formControlName="name">
            </div>
            <div class="d-flex justify-content-between form__container mt-2">
                <label for="surname" class="register__label d-flex align-items-center">Surname</label>
                <input type="text" autocomplete="off" class="register__input form-control" id="surname" [ngClass]="{ 'input__error': surname && surname.invalid && surname.touched }" formControlName="surname">
            </div>
            <div class="d-flex justify-content-between form__container mt-2">
                <label for="birthdate" class="register__label d-flex align-items-center">Birthdate</label>
                <input type="date" autocomplete="off" class="register__input form-control" id="birthdate" [ngClass]="{ 'input__error': birthdate && birthdate.invalid && birthdate.touched }" formControlName="birthdate">
            </div>
            <div class="d-flex justify-content-between form__container mt-2">
                <label for="institution" class="register__label d-flex align-items-center">Studying</label>
                <div class="register__searchbox d-flex flex-column justify-content-center">
                    <div class="position-relative">
                        <input type="text" autocomplete="off" class="form-control m-0" id="institution" (focus)="showInstitutions($event); tosShowInstitutions = true;" [ngClass]="{ 'input__error': institution && institution.invalid && institution.touched }" formControlName="institution">
                        <div *ngIf="tosShowInstitutions" class="result-box" id="result-box">
                            <ul class="p-0 m-0">
                                <li *ngFor="let institute of institutionsToOutput; let i = index;" (click)="displayInstitutionValue($event, institute);">{{ institute }}</li>
                            </ul>
                        </div>
                    </div>
                    <div class="d-flex align-items-center">
                        <input type="checkbox" id="no-education" formControlName="onEducation">
                        <label for="no-education">No education</label>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-between form__container mt-2">
                <label for="status" class="register__label d-flex align-items-center">Current status</label>
                <select class="register__input form-control" id="status" [ngClass]="{ 'input__error': status && status.invalid && status.touched }" formControlName="status">
                    <option value="defaultOption" disabled>Select an option</option>
                    <option value="studying">Currently studying</option>
                    <option value="finished">Finished studying</option>
                </select>
            </div>
            <div class="d-flex justify-content-between form__container mt-2">
                <label for="email" class="register__label d-flex align-items-center">Email</label>
                <input type="email" autocomplete="off" placeholder="email@example.com" class="register__input form-control" [ngClass]="{ 'input__error': email && email.invalid && email.touched }" id="email" formControlName="email">
            </div>
            <div class="d-flex justify-content-between form__container mt-2">
                <label for="password" class="register__label d-flex align-items-center">Password</label>
                <input type="password" class="register__input form-control" id="password" [ngClass]="{ 'input__error': password && password.invalid && password.touched }" formControlName="password">
            </div>
            <div class="d-flex justify-content-between form__container mt-2">
                <label for="confirm" class="register__label d-flex align-items-center">Confirm</label>
                <input type="password" class="register__input form-control" id="confirm" [ngClass]="{ 'input__error': confirm && confirm.invalid && confirm.touched }" formControlName="confirm">
            </div>
            <div class="d-flex justify-content-between form__container mt-2">
                <label for="phone" class="register__label d-flex align-items-center">Phone number</label>
                <div class="register__searchbox d-flex align-items-center">
                    <input type="text"autocomplete="off" class="phone__dropdown form-control m-0" id="phoneCode" (focus)="clearPhoneCodes(); toShowCountryCodes = true;" [ngClass]="{ 'input__error': countryCode && countryCode.invalid && countryCode.touched }" formControlName="countryCode">
                    <div *ngIf="toShowCountryCodes" class="result-box" id="result-box2">
                        <ul class="p-0">
                            <li *ngFor="let phoneCode of phoneCodesToOutput; let i = index;" (click)="displayPhoneCodeValue(phoneCode)">{{ phoneCode }}</li>
                        </ul>
                    </div>
                    <input type="tel" autocomplete="off" inputmode="numeric" placeholder="(XX) XXX XX XX" class="register__input form-control" [ngClass]="{ 'input__error': phone && phone.invalid && phone.touched }" id="phone" formControlName="phone">
                </div>
            </div>
            <button type="submit" class="btn btn-info mt-4" [disabled]="!registerForm1.valid">Next</button>
        </form>

        <a href="/login" class="link-info link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover mt-1">Login</a>

    </div>


    <div *ngIf="currentStep === 2" class="col-lg-4 col-md-6 register__container d-flex flex-column align-items-center bg-light rounded p-xl-5 p-md-4 p-sm-3 p-3">
        <h1>Regis<span class="single">t</span>er</h1>
        <form [formGroup]="registerForm2" class="d-flex flex-column align-items-center" (ngSubmit) = "nextStep(registerForm2)">
            <div class="d-flex justify-content-between form__container mt-2">
                <label for="proffesion" class="register__label d-flex align-items-center">Your proffesion</label>
                <select class="register__input form-control" id="proffesion" [ngClass]="{ 'input__error': proffesion && proffesion.invalid && proffesion.touched }" formControlName="proffesion">
                    <option disabled>Select option</option>
                    <option value="actor">Actor</option>
                    <option value="director">Director</option>
                    <option value="sound">Sound</option>
                    <option value="cameraman">Cameraman</option>
                </select>
            </div>
            <div *ngIf="haveExperience" class="d-flex justify-content-between form__container mt-2">
                <label for="works" class="register__label d-flex align-items-center">Your works</label>
                <input type="text" autocomplete="off" placeholder="https://..." class="register__input form-control" id="works" [ngClass]="{ 'input__error': works && works.invalid && works.touched }" formControlName="works">
            </div>
            <div class="d-flex justify-content-between form__container mt-2">
                <input type="checkbox" id="no-experience" formControlName="onExperience">
                <label for="no-experience" class="register__label d-flex align-items-center">No experience</label>
            </div>
            <button type="submit" class="btn btn-info mt-4">Next</button>
            <button class="btn btn-outline-info mt-2" (click)="currentStep = 1">Back</button>
        </form>
    </div>

    <div *ngIf="currentStep === 3" class="col-lg-4 col-md-6 register__container d-flex flex-column align-items-center bg-light rounded p-xl-5 p-md-4 p-sm-3 p-3">
        <h1>Regis<span class="single">t</span>er</h1>
        <form [formGroup]="registerForm3" class="d-flex flex-column align-items-center" (ngSubmit) = "onSubmit()">
            <div class="d-flex justify-content-between form__container mt-2">
                <label for="phoneCode" class="register__label d-flex align-items-center">Phone Code</label>
                <div class="input-group">
                    <input type="text" autocomplete="off" class="register__input form-control" id="phoneCode" aria-describedby="button-addon2" [ngClass]="{ 'input__error': phoneCode && phoneCode.invalid && phoneCode.touched }" formControlName="phoneCode">
                    <button class="btn btn-outline-secondary" type="button" id="button-addon2">Send</button>
                </div>
            </div>
            <div class="d-flex justify-content-between form__container mt-2">
                <label for="emailCode" class="register__label d-flex align-items-center">Email Code</label>
                <div class="input-group">
                    <input type="text" autocomplete="off" class="register__input form-control" id="emailCode" aria-describedby="button-addon2" [ngClass]="{ 'input__error': emailCode && emailCode.invalid && emailCode.touched }" formControlName="emailCode">
                    <button class="btn btn-outline-secondary" type="button" id="button-addon2" (click)="sendEmailCode()">Send</button>
                </div>
            </div>
            <button type="submit" class="btn btn-info mt-4" [disabled]="!registerForm3.valid">Register</button>
            <button class="btn btn-outline-info mt-2" (click)="currentStep = 2">Back</button>
        </form>
    </div>

</div>