.register {
    width: 100%;
    /* height: 100vh; */
}

.nav-link {
    color: #0dcaf0;
    cursor: pointer;
}
.nav-pills .nav-link.active {
    background-color: #0dcaf0;
}

form {
    width: 100%;
}
.form__container {
    width: 100%;
}
.register__label {
    width: 30%;
}
.register__input {
    width: 70%;
}
a {
    transition: 0.3s;
}
.single {
    color: #0dcaf0;
}