.register {
    width: 100%;
    height: 100vh;
}

.nav-link {
    color: #0dcaf0;
    cursor: pointer;
}
.nav-pills .nav-link.active {
    background-color: #0dcaf0;
}

form {
    width: 100%;
}
.form__container {
    width: 100%;
}
.register__label {
    width: 30%;
}
.register__input {
    width: 70%;
}
.register__searchbox {
    width: 70%;
    position: relative;
}
a {
    transition: 0.3s;
}
.input__error {
    border: 1px solid red;
}
.single {
    color: #0dcaf0;
}
.result-box {
    position: absolute;
    top: 100%; 
    left: 0;
    width: 100%;
    z-index: 1000;
}
.result-box ul li {
    list-style: none;
    border-radius: 3px;
    padding: 15px 10px;
    cursor: pointer;
    background-color: white;
}
.result-box ul li:hover {
    background-color: #e9f3ff;
}

.phone__dropdown{
    width: 30%;
    cursor: pointer;
    background-color: rgb(215, 215, 215);
    transition: 0.2s;
}
.phone__dropdown:hover {
    background-color: rgb(175, 175, 175);
}