<div class="container chat__container">
    <div class="chat__header d-flex justify-content-between align-items-center">
        <h1 class="chat__title">Chat</h1>
        <a id="leave-btn" class="btn btn-outline-info" (click)="leaveRoom()">Leave Room</a>
    </div>
    <div class="chat__main d-flex">
        <aside class="chat__sidebar bg-light rounded p-3">
            <h3>Room Name:</h3>
            <p id="room-name">{{ room }}</p>
            <h3>Users</h3>
            <ul id="users">
                <li *ngFor="let user of users; let j = index;">{{ user.username }}</li>
            </ul>
        </aside>
        <div class="chat__messages border rounded p-3">
            <div class="message__container p-3 bg-light rounded border border-info mt-2" *ngFor="let msg of messages; let i = index;">
                <div class="message__header d-flex justify-content-between">
                    <p class="message__info text-body-secondary m-0">{{ msg.username }}</p>
                    <p class="message__info text-body-secondary m-0">{{ msg.time }}</p>
                </div>
                <p class="message__text m-0">{{ msg.text }}</p>
                <img class="message__image" [src]="msg.imageSRC" *ngIf="msg.imageSRC" alt="Uploaded Image" />
            </div>
        </div>
    </div>
    <div class="chat__form-container">
        <form class="chat__form d-flex justify-content-between align-items-center" (ngSubmit)="onSubmit()">
            <input class="form__message border m-0" [(ngModel)]="message" name="message" id="msg" type="text" placeholder="Enter Message" required autocomplete="off">
            <input type="file" (change)="selectFile($event)" accept=".jpg, .jpeg, .png" id="photo">
            <label for="photo" class="photo__label"></label>
            <button type="submit" class="btn btn-info form__button">Send</button>
        </form>
    </div>
</div>