<app-header></app-header>
<div class="container">
    <h1 class="mb-4">Blog Articles</h1>
    <a href="articles/new" class="btn btn-success">New Article</a>
    <div class="card mt-4" *ngFor="let article of articles; let i = index;">
        <div class="card-body">
            <h4 class="card-title m-0">{{ article.title }}</h4>
            <div class="d-flex justify-content-between align-items-center mb-2">
                <a class="link-info link-underline link-underline-opacity-0 m-0" [href]="'main/profile/' + article.userId">{{article.username}}</a>
                <div class="card-subtitle text-muted m-0">{{ article.date }}</div>
            </div>
            <div class="card-text mb-2">{{ article.description }}</div>
            <img class="post-image mb-2" [src]="article.image" alt="" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="showImage(article.image)">
            <div class="actions__container d-flex align-items-center mb-2">
                <img [src]="likeUrl" alt="like" class="like__button" (click)="likePost(i)">
            </div>
            <a [href]="'article/' + article._id" class="btn btn-primary me-2">Read more</a>
            <button class="btn btn-danger" (click)="deleteArticle(article._id)">Delete</button>
        </div>
    </div>
</div>

<!-- Modal window -->
<app-modal-image [modalImage]="modalImage"></app-modal-image>