<div class="header d-flex justify-content-between align-items-center mb-3">
    <div class="container d-flex justify-content-between align-items-center">
        <div class="header__title-container">
            <a href="/main/start"><h1 class="header__title m-0">StageSpace</h1></a>
        </div>
        <div class="header__navbar d-flex justify-content-between align-items-center">
            <a href="/articles/all">BLOG</a>
        </div>
        <div class="header__user-container d-flex align-items-center">
            <p class="header__username m-0">{{ username }}</p>
            <img src="./assets/png/logout.png" class="header__logout-img ms-2" (click)="logout()" alt="">
            <a href="profile/my-profile"><img src="./assets/png/profile.png" class="header__profile-img ms-2" alt=""></a>
        </div>
    </div>
</div>