<app-header></app-header>
<div class="container">
    <h2 class="m-0">Actors:</h2>
    <div class="user__container d-flex justify-content-between align-items-center border rounded mb-2 p-2" *ngFor="let actor of actors; let i = index;">
        <p class="m-0">{{ actor.username }}</p>
        <div class="utils__container d-flex justify-content-between align-items-center">
            <img src="../../../../../assets/png/messenger.png" class="messenger__img" alt="" (click)="onChatActor(i)">
            <button [class.btn-secondary]="actor.followed" class="btn btn-primary btn-sm" (click)="actorOnFollow(i)">{{ actor.followed ? 'Unfollow' : 'Follow' }}</button>
        </div>
    </div>
    <h2 class="m-0">Directors:</h2>
    <div class="user__container d-flex justify-content-between align-items-center border rounded mb-2 p-2" *ngFor="let director of directors; let j = index;">
        <p class="m-0">{{ director.username }}</p>
        <div class="utils__container d-flex justify-content-between align-items-center">
            <img src="../../../../../assets/png/messenger.png" class="messenger__img" alt="" (click)="onChatDirector(j)">
            <button [class.btn-secondary]="director.followed" class="btn btn-primary btn-sm" (click)="directorOnFollow(j)">{{ director.followed ? 'Unfollow' : 'Follow' }}</button>
        </div>
    </div>
</div>